@model List<Project.Entity.Entity.Movie>
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@if (TempData["result"] != null)
{
    <div class="alert alert-info alert-dismissible mt-2">
        <span>@TempData["result"]</span>
    </div>
}
<div class="card mb-4 mt-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>@ViewData["Title"]</h3>
            <a class="btn btn-success" asp-action="Create" asp-controller="Movie">New Movie</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>#</th>
                    <th>Movie Name</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="6">
                                <span>Herhangi bir film eklenmemis</span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var movie in Model)
                        {
                            <tr>
                            <td>
                            <img src="~/image/movie/@movie.ImagePath" style="width:100px;height:150px"/>
                            </td>
                                <td>@movie.Id</td>
                                <td>@movie.Title</td>
                                <td>
                                    @if (movie.Description != null)
                                    {
                                        @if (movie.Description.Length > 100)
                                        {
                                            @movie.Description.Substring(0,99) <span>[<a href="#">genislet...</a>]</span>
                                        }
                                        else
                                        {
                                            @movie.Description
                                        }
                                    }
                                    else
                                    {
                                        <span>Aciklama bulunmuyor</span>
                                    }
                                </td>
                                <td>Buraya kategori gelecek</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-controller="Movie" asp-route-id="@movie.Id">Update</a>
                                    |
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Movie" asp-route-id="@movie.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

