@model List<Project.Entity.Entity.ShowTime>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@if (TempData["result"] != null)
{
    <div class="alert alert-info alert-dismissible mt-2">
        <span>@TempData["result"]</span>
    </div>
}
<div class="card mb-4 mt-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>@ViewData["Title"]</h3>
            <a class="btn btn-success" asp-action="Create" asp-controller="ShowTime">New ShowTime</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Movie</th>
                    <th>Hall</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="3">
                                <span>Herhangi bir seans eklenmemis</span>
                            </td>
                        </tr>
                    }

                    {
                        @foreach (var showTime in Model)
                        {
                            <tr>
                                <td>@showTime.Id</td>
                                <td>@showTime.Time.ToShortTimeString()</td>@*Burada ToShortTimeString() metodu ile zamani saat ve dakika olarak gosteriyorum. orn: 21:30*@
                                <td>@showTime.MovieId
                                <td>@showTime.HallId</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-controller="ShowTime" asp-route-id="@showTime.Id">Update</a>
                                    |
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="ShowTime" asp-route-id="@showTime.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

